.App {
  position: relative;
  overflow: hidden;
}

.App__header {
  position: absolute;
  width: 100%;
  height: 1080px;
  text-align: center;
  color: white;
}

.App__title {
  font-size: 48px;
}

.App__caption {
  font-size: 28px;
}

.App__count {
  font-size: 45px;
}

.App__image {
  display: block;
  width: 100%;
}
